@import url(./variables.css);

*,
*::before,
*::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.page {
  position: relative;
  width: 1440px;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  font-family: "Nunito", Arial, sans-serif;
  font-size: 16px;
}

/* header part */

.header {
  min-width: 100%;
  min-height: 466px;
  display: flex;
  flex-direction: column;
}

.demisphere {
  position: absolute;
  left: -720px;
  top: -2414px;
  width: 2880px;
  height: 2880px;
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: -1;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.logo {
  margin-top: 24px;
}

.title-container {
  display: flex;
  gap: 21px;
}

.title-container_text {
  display: flex;
  flex-direction: column;
  gap: 52px;
  justify-content: center;
}

.header-title {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
}

.header-title_second-color {
  color: #FF5C00; 
}

.header-subtitle {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #FFFFFF;
  text-align: left;
}

/* navigation menu */

.nav {
  margin-top: 40px;
  margin-left: 75px;
  margin-right: 75px;
}

.nav-menu {
  display: flex;
  gap: 24px;
  list-style: none;
}

.nav-menu_item {
  width: 108px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 50px;
  align-items: center;
}

.menu-item_link {
  text-decoration: none;
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  gap: 8px;
}

.nav-menu_item:hover {
  background-color: #FF5C00;
  cursor: pointer;
}